*,
*::before,
*::after {
  box-sizing: border-box; /*mieux gérer les marges et padding de tous les éléments*/
}

nav {
  width: auto;
  background-color: #59351c;
  border-radius: 1vw;
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 1.5vw;
  font-size: 2.5vw;
  font-family: "Creepster", system-ui;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(219, 3, 3);
  font-family: "Creepster", system-ui;
  cursor: url("../JS/img/halloween/knife_bloody_icon.png"), auto;
}

h1 {
  font-family: "Creepster", system-ui;
  text-align: center;
  font-size: 10vw;
}

nav a {
  color: rgb(255, 60, 0);
  transition: color 0.3s ease-in-out;
  cursor: url("../JS/img/halloween/witch_halloween_23214.png"), auto;
}
nav a:hover {
  color: orange;
}

h3 {
  font-size: 3vw;
  text-decoration: underline;
}

.presentation {
  text-align: center;
  margin: 5vw;
  color: #cc5303;
  font-size: 2vw;
}

button {
  background-color: rgb(139, 0, 0);
  color: #f5680a; /* Texte blanc pour le contraste */
  font-family: "Creepster", cursive; /* Utilisation d'une police effrayante (Google Fonts par exemple) */
  font-size: 2.5vw;
  border-radius: 2vw; /* Bordure légèrement arrondie */
  box-shadow: 0px 0px 15px 5px rgba(223, 95, 10, 0.8); /* Ombre effrayante */
  text-shadow: 2px 2px 3px #000000; /* Ombre sur le texte */
  transition: all 0.3s ease;
  cursor: url("../JS/img/halloween/zombi.png"), auto;
  width: 7em;
  height: 2em;
  margin: 3vw;
}

.welcome,
#come {
  text-align: center;
  color: rgb(139, 0, 0);
  font-size: 4vw;
}

.infos {
  text-align: center;
  font-size: 2vw;
}
