*,
*::before,
*::after {
  box-sizing: border-box; /*mieux gérer les marges et padding de tous les éléments*/
}

nav {
  width: auto;
  background-color: rgb(231, 100, 24, 0.7);
  border-radius: 1vw;
  position: sticky;
  display: flex;
  justify-content: space-around;
  padding: 1.5vw;
  font-size: 2.5vw;
  font-family: "Creepster", system-ui;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(219, 3, 3);
  font-family: "Creepster", system-ui;
}

#playagain {
  text-align: center;
  display: none;
  font-size: 10vw;
}

.grid {
  max-width: 100vw;
  margin: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  height: 20vw;
  width: 20vw;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  margin: 0.5vw;
  border: 0.5vw solid rgb(102, 1, 1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.frontCard {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(151, 65, 24, 1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  backface-visibility: hidden;
}

.backCard {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card.selected {
  transform: rotateY(180deg); /* Effectue la rotation de la carte entière */
}

.card.selected .backCard {
  transform: rotateY(180deg); /* Montre la face arrière lorsque sélectionnée */
}

.card.selected .frontCard {
  background-color: rgba(167, 77, 36, 0);
}

.match .frontCard {
  pointer-events: none; /* Empêche de cliquer sur les cartes appariées */
  background-color: rgba(151, 65, 24, 0);
}
.match .backCard {
  border: 4px solid rgb(25, 228, 18);
  transform: rotateY(0deg);
  pointer-events: none; /* Empêche de cliquer sur les cartes appariées */
}

h1 {
  font-family: "Creepster", system-ui;
  text-align: center;
  font-size: 10vw;
}

h2 {
  text-align: center;
  font-size: 7vw;
}

nav a {
  color: rgb(255, 60, 0);
  transition: color 0.3s ease-in-out;
}
nav a:hover {
  color: orange;
}

p {
  font-size: 3vw;
}

h3 {
  font-size: 4vw;
  text-decoration: underline;
}

.presentation {
  text-align: center;
  margin: 5vw;
}
